<section class="container section">
<!--Cart-->
    <div class="cart-header">
        <h2 class="cart-header-title">All Product</h2>
        <p class="cart-header-info">The products we provide only for you as our service are selected from the
            best products with number 1 quality in the world</p>
    </div>

    <ul class="cart">
        <li class="cart-item">
            <img src="../img/cart/light-1.jpg">
        
            <h3 class="cart-item-title">Ceiling Light</h3>
            <span class="cart-item-price">$75.00</span> <span class="cart-item-price cart-item-price--old">$82.00</span>
            <a class="cart-item-plus"><i class="fa-solid fa-plus"></i></a>
        </li>
        <li class="cart-item">
            <img src="../img/cart/light-2.jpg">
        
            <h3 class="cart-item-title">Wood Chair</h3>
            <span class="cart-item-price">$50.00</span> <span class="cart-item-price cart-item-price--old">$70.00</span>
            <a class="cart-item-plus"><i class="fa-solid fa-plus"></i></a>
        </li>
        <li class="cart-item">
            <img src="../img/cart/light-3.jpg">
        
            <h3 class="cart-item-title">Papper Cupboard</h3>
            <span class="cart-item-price">$105.00</span> <span class="cart-item-price cart-item-price--old">$120.00</span>
            <a class="cart-item-plus"><i class="fa-solid fa-plus"></i></a>
        </li>
        <li class="cart-item">
            <img src="../img/cart/light-4.jpg">
        
            <h3 class="cart-item-title">Ole Gundorse Spring...</h3>
            <span class="cart-item-price">$82.00</span> <span class="cart-item-price cart-item-price--old">$100.00</span>
            <a class="cart-item-plus"><i class="fa-solid fa-plus"></i></a>
        </li>
        <li class="cart-item">
            <img src="../img/cart/light-5.jpg">
        
            <h3 class="cart-item-title">Treos Seroes 911</h3>
            <span class="cart-item-price">$200.00</span> <span class="cart-item-price cart-item-price--old">$210.00</span>
            <a class="cart-item-plus"><i class="fa-solid fa-plus"></i></a>
        </li>
        <li class="cart-item">
            <img src="../img/cart/light-6.jpg">
        
            <h3 class="cart-item-title">Multi bilderman slibber...</h3>
            <span class="cart-item-price">$45.00</span> <span class="cart-item-price cart-item-price--old">$50.00</span>
            <a class="cart-item-plus"><i class="fa-solid fa-plus"></i></a>
        </li>
        <li class="cart-item">
            <img src="../img/cart/light-7.jpg">
        
            <h3 class="cart-item-title">XORA corner desk</h3>
            <span class="cart-item-price">$320.00</span> <span class="cart-item-price cart-item-price--old">$325.00</span>
            <a class="cart-item-plus"><i class="fa-solid fa-plus"></i></a>
        </li>
        <li class="cart-item">
            <img src="../img/cart/light-8.jpg">
        
            <h3 class="cart-item-title">Black Forest Series wo...</h3>
            <span class="cart-item-price">$225.00</span> <span class="cart-item-price cart-item-price--old">$240.00</span>
            <a class="cart-item-plus"><i class="fa-solid fa-plus"></i></a>
        </li>
      
    </ul>

   <div class="cart-footer">

   </div>
</section> 