  <!--Comments-->
<section class="container section">
 
    <div class="comments">
        <div class="comments-personification">
            <h2 class="comments-title">What people are saying about us</h2>
            <div class="comments-personification-info">
                <img src="./img/comments/person1.jpg">
                <div class="comments-personification-about">
                    <p class="comments-personification-name">Josh Smith</p>
                    <p class="comments-personification-prof">Manager of The New York Times</p>    
                </div>
            </div>
            <p class="comments-text">“They are have a perfect touch for make something so professional ,interest and useful for a lot of people .”  </p> 
        </div>

        <img src="./img/comments/Rectangle25.jpg" width="582">

    </div>

    <div class="comments-slider">
        <span class="comments-slider-item"><i class="fa-solid fa-arrow-left"></i></span>
        <span class="comments-slider-item"><i class="fa-solid fa-arrow-right"></i></span>
    </div>
  
</section>