<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-header">
                <p class="footer-logo">FurniShop</p>
                <ul class="footer-social">
                    <li class="footer-social-item"> <a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="footer-social-item"> <a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li class="footer-social-item"> <a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="footer-social-item"> <a href=""><i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
            <div class="footer-main">

                <ul class="footer-main-list">
                    <h3 class="footer-main-list-title">Our Products</h3>
                    <li class="footer-main-list-item"><a href="#">The Support Suite</a></li>
                    <li class="footer-main-list-item"><a href="#">The sales suite</a></li>
                    <li class="footer-main-list-item"><a href="#">Support</a></li>
                    <li class="footer-main-list-item"><a href="#">Guide</a></li>
                </ul>
                <ul class="footer-main-list">
                    <h3 class="footer-main-list-title">Top Features</h3>
                    <li class="footer-main-list-item"><a href="#">Ticketing system</a></li>
                    <li class="footer-main-list-item"><a href="#">Knowledge dase</a></li>
                    <li class="footer-main-list-item"><a href="#">Community Forums</a></li>
                    <li class="footer-main-list-item"><a href="#">Help Desk Software</a></li>
                </ul>
                </ul>
                <ul class="footer-main-list">
                    <h3 class="footer-main-list-title">Resources</h3>
                    <li class="footer-main-list-item"><a href="#">Product support</a></li>
                    <li class="footer-main-list-item"><a href="#">Request demo</a></li>
                    <li class="footer-main-list-item"><a href="#">Library</a></li>
                    <li class="footer-main-list-item"><a href="#">Peoplepower blog</a></li>
                </ul>
                </ul>
                <ul class="footer-main-list">
                    <h3 class="footer-main-list-title">Company</h3>
                    <li class="footer-main-list-item"><a href="#">About Us</a></li>
                    <li class="footer-main-list-item"><a href="#">Press</a></li>
                    <li class="footer-main-list-item"><a href="#">Investors</a></li>
                    <li class="footer-main-list-item"><a href="#">Events</a></li>
                </ul>
                </ul>
            </div>
            <div class="footer-footer">
                <h3 class="footer-author">© NameBrand 2022 - All Rights Reserved<h3>
            </div>
        </div>
    </div>
</footer>