  <!--Header-->
<header class="header container">
    <nav class="header-nav">
        <a href="#" class="header-logo">FurniShop</a>
        <ul class="header-nav-links-menu">
            <li class="header-nav-links"><a href="index.html" target="_blank">Home</a></li>
            <li class="header-nav-links"><a href="about.html" target="_blank">About</a></li>
            <li class="header-nav-links"><a href="#" target="_blank">Features</a></li>
            <li class="header-nav-links"><a href="#" target="_blank">Contact</a></li>
        </ul>

        <a class="mobile-menu-btn" id="mobile-menu-btn"><i class="fa-solid fa-bars"></i></a>
    </nav>

</header>