<header class="header container">
    <nav class="header-nav">
        <a href="#" class="header-logo">FurniShop</a>
        <ul class="header-nav-links-menu">
            <li class="header-nav-links"><a href="#" target="_blank">Home</a></li>
            <li class="header-nav-links"><a href="#" target="_blank">About</a></li>
            <li class="header-nav-links"><a href="#" target="_blank">Features</a></li>
            <li class="header-nav-links"><a href="#" target="_blank">Contact</a></li>
        </ul>
    </nav>
</header>