<section class="home">
    <div class="home-inner container">

        <h1 class="home-title">Creative Home Simpify your Furniture</h1>
        <p class="home-info">Do i have consent to record this meeting gain locaion, root-and-branch, review, nor game plan who’s the goto</p> 
        <button class="btn" href="#" type="button">Shop Now</button>
            
        <ul class="home-table">
            <li class="home-table-item">
                <p class="home-table-item-number">7</p>
                <p class="home-table-item-dscrpt">Year Experience</p>
            </li>
            <li class="home-table-item">
                <p class="home-table-item-number">2</p>
                <p class="home-table-item-dscrpt">Opened in the country</p>
            </li>
            <li class="home-table-item">
                <p class="home-table-item-number">10k+</p>
                <p class="home-table-item-dscrpt">Furniture sold</p>
            </li>
            <li class="home-table-item">
                <p class="home-table-item-number">260+</p>
                <p class="home-table-item-dscrpt">Variant Furniture</p>
            </li>
        </ul>

    </div>
</section>


