<section class="mails section">
        <div class="container">
            <div class="mails-inner">
                <div class="mails-img-light">
                   <img src="../img/mail/Rectangle_928-removebg-preview.png">
                </div>
                <div class="mails-dsrpt">       
                    <h2 class="mails-title">Get more discount <br> Off your order</h2>
                    <p class="mails-txt">Join our mailing list</p>
                    <input class="mails-write" placeholder="Your email address" type="email ">
                    <input class="mails-btn" value="Shop now" type="submit">
                </div>
            </div>
    </div>
    </div>
</section>