.home{
    background: url(../img/home/modern-living-room-interior-2021-09-02-08-41-17-utc.jpg)center no-repeat ;
    background-size: cover ;

    justify-content: center;
    text-align: center;
    padding-top: 210px;
    padding-bottom: 25px;

    width: 100%;

    &-inner{
        padding:0 276px;
    }

    &-title{
        color:$white;
        font-weight: 600;
        font-size: 64px;
        line-height: 120%;

        text-align: center;
        text-transform: capitalize;

        margin-bottom: 30px;
    }

     &-info{
            color:$white;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 0.01em;

            margin-bottom: 65px;
            padding: 0 55px;
        }

}

.btn{
    background: rgba(226, 226, 226, 0.4);
    backdrop-filter: blur(30px);
    border-radius: 10px;

    padding: 16px 80px;

    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color:$white;

    letter-spacing: 0.01em;

    border: none;

    &:hover,:focus{
        font-weight: 700;
        background: rgba(226, 226, 226, 0.6);
    }
}

.home-table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:$white;

    background-color: $accent;
    border-radius: 20px;

    margin-top: 75px;

    &-item{
        padding: 38px 60px ;
        position: relative;
      
        border-right: 1px solid $white;

        &:last-child{
           border-right: 0;
        }

        &-number{
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 5px;
            font-size: 35px;
           
        }

        &-dscrpt{
            font-weight: 400;
            line-height: 130%;
            font-size: 16px;

        }
    }
}

