//mails
.mails{
    background-color: $accent;
    flex-direction: column;
    z-index: 5;
 
}

.mails-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.mails-img-light img {
    margin-top: -69px;

    @include breakpoint ($tablet-bp) {
        display: none;
    }
}

.mails-title{
    font-weight: 600;
    font-size: 40px;
    line-height: 135%;
    color:$white;
    margin-bottom: 20px;

    @include breakpoint ($tablet-bp) {
       font-size: 28px;
    }
}

.mails-txt{
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color:$white;
    margin-bottom: 40px;

    @include breakpoint ($tablet-bp) {
        font-size: 18px;
     }
}

.mails-write{
    padding: 22px 220px 22px 22px;
    background-color: $white;
    border-radius: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color:$primary;
    margin-right: 22px;
    border: 0;

        &:focus{
            border: 1px solid $white
        }

    @include breakpoint ($tablet-bp) {
      margin-bottom: 20px;
     }

       @include breakpoint ($mobile-bp) {
     padding-right: 80px;
     }
}


.mails-btn{
    padding: 20px 30px;
    color:$white;
    background-color: $primary;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    border: 0;

        &:hover{
            border: 2px solid $secondary;
            padding: 18px 28px;
        }

    @include breakpoint ($tablet-bp) {
        font-size: 16px;
     }
 
}
